[submodule "mods/naturalslopeslib"]
	path = mods/naturalslopeslib
#	url  = https://files.creativekara.fr/git/naturalslopeslib.git
	url = https://codeberg.org/Mantar/naturalslopeslib.git
[submodule "utilities/minetest_schemedit"]
	path = utilities/minetest_schemedit
	url = https://codeberg.org/Wuzzy/minetest_schemedit
[submodule "mods/mapchunk_shepherd"]
	path = mods/mapchunk_shepherd
	url = https://github.com/kromka-chleba/mapchunk_shepherd_mirror.git
