[submodule "mods/naturalslopeslib"]
	path = mods/naturalslopeslib
	url  = https://files.creativekara.fr/git/naturalslopeslib.git
[submodule "utilities/minetest_schemedit"]
	path = utilities/minetest_schemedit
	url = https://codeberg.org/Wuzzy/minetest_schemedit
[submodule "mods/mapchunk_shepherd"]
	path = mods/mapchunk_shepherd
	url = https://codeberg.org/perfect_city_game_studio/mapchunk_shepherd.git
